services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db_2022
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=P@ssw0rd
      - MSSQL_PID=Developer
    ports:
      - "1434:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    networks:
      - app_network

  ui:
    image: ${DOCKER_REGISTRY-}ui
    build:
      context: .
      dockerfile: UI/Dockerfile
    depends_on:
      - db
    volumes:
      - qr_codes:/app/wwwroot/qrcodes
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
    ports:
      - "8080:8080"
    networks:
      - app_network

volumes:
  mssql_data:
  qr_codes:

networks:
  app_network:
    driver: bridge
